/* Smartphones (600px para baixo) */

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-topo: hsla(218, 17%, 62%, 1);
  --bg-faixa-topo: hsla(275, 18%, 79%, 1);

  --fc-topo: hsla(0, 0%, 100%, 1);
  --fc-tipos: hsla(232, 17%, 35%, 1);
  --shadow: hsla(0, 0%, 0%, 0.25);
}

body {
  text-align: center;
  font-size: 1.6rem;
  margin: 0 auto;
}

.text::before {
  content: "";
  background-image: url(images/logo2.svg);
  background-repeat: no-repeat;
  background-color: var(--bg-topo);
  background-position: 50% 30%;
  display: block;
  width: 38.4rem;
  height: 27.9rem;
  position: absolute;
  left: calc(50% - 38.4rem / 2);
  top: 0;
  z-index: -1;
  animation: topdown 900ms backwards;
}

.top h1 {
  font-family: "Staatliches", cursive;
  font-weight: 400;
  color: var(--fc-topo);
  font-size: 4rem;
  background-color: var(--bg-faixa-topo);
  width: 38.4rem;
  margin: 20.1rem auto 0;
  text-shadow: 2px 2px var(--shadow);
  animation: left-right 2s forwards;
}

.text {
  margin: 5rem auto;
  width: 38.4rem;
}

.text p {
  font-family: "Palanquin", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
}

.container-cards .card {
  position: relative;
  width: 32rem;
  border-radius: 2rem;
  margin: 3.2rem auto;
  animation: downtop 900ms forwards;
}

.container-cards .card h2 {
  color: var(--fc-tipos);
  font-family: "Staatliches", cursive;
  background: var(--fc-topo);
  position: absolute;
  right: 1.6rem;
  top: 1rem;
  border-radius: 2rem;
  padding: 1px 2.4rem;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 5%;
  font-weight: 400;
  animation: topdown 1300ms forwards;
}

.container-cards .card img {
  object-fit: cover;
  border-radius: 2rem;
  transition: all 0.7s;
}

.container-cards .card img:hover {
  transform: scale(1.05);
  opacity: 0.4;
}

footer {
  display: none;
}

@keyframes topdown {
  100% {
    opacity: 1;
    transform: translateY(0);
  }

  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(-15px);
  }
}

@media only screen and (min-width: 599px) {
  body {
    max-width: 127rem;
    text-align: center;
    font-size: 1.6rem;
  }

  .text::before {
    content: "";
    background-image: url(images/logo1.svg);
    background-repeat: no-repeat;
    background-color: var(--bg-topo);
    background-position: 50% 20%;
    display: block;
    min-width: 100%;
    height: 27.9rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    animation: topdown 3s forwards;
  }

  .top h1 {
    width: 100%;
  }

  .texto {
   
    width: 68.4rem;
  }  


  .container-cards {
    display: grid;
    grid-template-areas:
      "B A"
      "B D"
      "C D"
      "E F"
      "E F";
  }
  .container-cards div:nth-child(1) {
    grid-area: A;
  }

  .container-cards div:nth-child(2) {
    grid-area: B;
  }

  .container-cards div:nth-child(3) {
    grid-area: C;
  }

  .container-cards div:nth-child(4) {
    grid-area: D;
  }
  .container-cards div:nth-child(5) {
    grid-area: E;
  }
  .container-cards div:nth-child(6) {
    grid-area: F;
  }

  footer {
    display: none;
  }

  @keyframes topdown {
    100% {
      opacity: 1;
      transform: translateY(10px);
    }

    0% {
      opacity: 0;
      transform: translateY(0px);
    }
  }

  @keyframes downtop {
    0% {
      opacity: 0;
      transform: translateY(0);
    }

    100% {
      opacity: 1;
      transform: translateY(-15px);
    }
  }

  @keyframes leftright {
    0% {
      opacity: 0;
      transform: translateX(-15);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}


@media only screen and (min-width: 1280px) {
 


  body {
    max-width: 128rem;   
    display: grid;
    grid-template-areas: "H M M" "H M M" "H F F";
  }

  body div:nth-child(1) {
    grid-area: H;
  }

  body div:nth-child(2) {
    grid-area: M;
  }

  body div:nth-child(3) {
    grid-area: F;
  }

  .text::before {
    display: none;
  }

  header::before {
    content: "";
    background-image: url(images/logo1.svg);
    background-repeat: no-repeat;
    background-color: var(--bg-topo);
    background-position: 50% 5%;
    display: block;
    top: 0;
    width: 37.7rem;
    height: 72rem;
    position: absolute;
    z-index: -1;
    animation: leftright 1300ms backwards;
  }

  .top h1 {   
    margin: 20rem 0 7.5rem;
    text-shadow: 2px 2px var(--shadow);
    animation: leftright 1300ms backwards;
  }

  .text {   
    width: 27.5rem;
    margin: 5.1rem;
  }

  .text p {   
    color: hsla(0, 0%, 100%, 1);
    font-size: 1.6rem;
    font-weight: 400;
  }

  .container-cards {
    width: 724px;
    height: 532px;

    display: grid;
    grid-template-areas: "A B C" "D B F" "D E F";
  }

  main {
    padding: 5rem 8.9rem;

    width: calc(128rem - 37.7rem);
    height: 650px;
    gap: 3.2rem;
  }

  .container-cards div:nth-child(1) {
    grid-area: A;
  }

  .container-cards div:nth-child(2) {
    grid-area: B;
  }

  .container-cards div:nth-child(3) {
    grid-area: C;
  }

  .container-cards div:nth-child(4) {
    grid-area: D;
  }

  .container-cards div:nth-child(5) {
    grid-area: E;
  }

  .container-cards div:nth-child(6) {
    grid-area: F;
  }

  .container-cards .card {
    position: relative;
    width: 22rem;
    border-radius: 2rem;
  }

  .container-cards .card h2 {
    color: var(--fc-tipos);
    font-family: "Staatliches", cursive;
    background: var(--fc-topo);
    position: absolute;
    right: 1.6rem;
    top: 1rem;
    border-radius: 2rem;
    padding: 1px 2.4rem;
    font-size: 2rem;
    line-height: 3.4rem;
    letter-spacing: 5%;
    font-weight: 400;
    cursor: pointer;
  }

  .container-cards .card img {
    object-fit: cover;
    border-radius: 2rem;
    width: 22rem;
    transition: all 0.7s;
  }
  .container-cards .card img:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }

  footer {
    width: calc(128rem - 37.7rem);

    display: flex;
    justify-content: center;
  }

  footer p {
    font-family: "Roboto", sans-serif;
    color: hsla(232, 17%, 35%, 1);
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.8rem;
    font-style: Regular;
  }

  footer span {
    line-height: 147%;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 2.8rem;
    font-weight: 700;
    font-style: bold;
  }

  @keyframes left-right {
    0% {
      opacity: 0;
      transform: translateX(0);
    }

    100% {
      opacity: 1;
      transform: translateX(20px);
    }
  }
}
